*{
    margin: 0;
}

a.gflag {vertical-align:middle;font-size:16px;padding:1px 0;background-repeat:no-repeat;background-image:url(//gtranslate.net/flags/16.png);}
a.gflag img {border:0;}
a.gflag:hover {background-image:url(//gtranslate.net/flags/16a.png);}
#goog-gt-tt {display:none !important;}
.goog-te-banner-frame {display:none !important;}
.goog-te-menu-value:hover {text-decoration:none !important;}
body {top:0 !important;}
#google_translate_element2 {display:none!important;}


.rectangle-oblique{
    position: absolute;
    width: 1677.92px;
    height: 602.69px;
    left: 504px;
    top: 95.67px;
    width: 75%;
    background: linear-gradient(180deg, #2E9DDC 0%, #FFFAFA 100%);
    border-radius: 475px;
    transform: rotate(-28.07deg);
}

.btn-first-page{
    position: absolute;
    width: 270px;
    height: 78px;
    left: 150px;
    top: 650px;
    background: #2E9DDC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
}

.rectangle-homme{
    background: linear-gradient(90deg, rgba(0, 6, 10, 0) 11.13%, #2E9DDC 55.95%);
    background-blend-mode: luminosity;
    height: 500px;
    width: 35%;
    margin-top: 7%;
    left: 0;
    transform: rotate(155deg); 
    position: absolute;
    border-top-left-radius: 400px;
    border-bottom-left-radius: 400px;
}

.toc{
    z-index: 9;
}

.homme{
    width: 40%;
    position: absolute;
    z-index: 99;
    margin-top: 7%;
}


.first-page{
    padding-bottom: 70px;
    background: #D3D4D6;
}

.navbar .btn{
    border-radius: 50px;
}

.logo-img{
    width: 170px;
}

.service{
    box-sizing: border-box;

    /* position: absolute; */
    width: 350px;
    height: 454px;
    /* left: 633px; */
    top: 940px;

    background: radial-gradient(50% 50% at 50% 50%, #D9D9D9 0%, #FFFCFC 100%);
    border: 2px solid #2E9DDC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;

}

.service-img{
    width: 350px;
    height: 198px;
    margin-left: -4%;
    top: 940px;
}

.bloc1{
    margin-right: 15px;
}


.fonction{
    border: 1px solid black;
    background: linear-gradient(157.25deg, #2E9DDC 43.26%, rgba(255, 255, 255, 0) 97.71%);
    opacity: 0.6;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 30px;
    height: 400px;
    text-align: center;
    margin-top: 12%;
}

.fonction1{
    border: 1px solid black;
    background: #2E9DDC;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 500px;
    text-align: center;
    padding: 6% 1%;
}

.fonction i{
    text-align: center;
    font-size: 75px;
}

.fonction1 i{
    text-align: center;
    font-size: 75px;
}

.fonction-titre{
    font-size: 28px;
    font-weight: 800;
}

.i-cercle{
    border: 1px solid white;
    background-color: white;
    padding: 25px;
    border-radius: 100%;
}

.i-cercle1{
    border: 1px solid white;
    background-color: white;
    padding: 45px;
    border-radius: 100%;
}

.fonctions{
    margin: 40px 25%;
}

.cadre-offre{
    background: url(images/offr.jpg);
    padding: 25px 0;
}


.title-offre{
    text-align: center;
    border: 1px solid rgb(54, 147, 254);
    padding: 10px;
    background-color: rgb(54, 147, 254);
    color: white;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 15px;
    margin: 2% 45%;
    width: 150px;
}

.offre{
    border: 2px solid black;
    padding: 10px 2px;
}

.liste{
    font-size: 18px
}

.number{
    border: 3px solid white;
    background-color: rgb(120, 190, 251);
    border-radius: 100%;
    padding: 5px 10px;
}

.number-text{
    margin: 5px 50px;
}

.img-offer{
    margin-bottom: 40px;
}

.price-offer{
    border: 1px solid gainsboro;
    width: 250px;
    text-align: center;
    margin-left: 8%;
    margin-top: -6%;
    /* margin-bottom: 10%; */
    font-size: 35px;
    font-weight: 700;
    background-color: rgb(237, 237, 237);
    position: absolute;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
}

.btn-offer{
    margin: 0 50px;
}

.contenu{
    background: #ecebeb;
    padding: 15px 0;
}

.role{
    background-color: rgb(216, 216, 216);
    padding: 5% 2%;
}


footer{
    background-color: rgb(61, 161, 228);
    color: white;
    font-weight: 400;
    border-top-left-radius: 120px;
    border-bottom-right-radius: 80px;
    padding: 5% 0;
}

footer ul li{
    list-style: none;
    margin-left: -25px;
}

.foot{
    background-color: black;
    z-index: 1;
}
.title-toc{
    font-size: 35px;
    font-weight: 800;
}

.address{
    border-left: 1px solid white;
}

.mobile{
    display: none;
}


@media screen and (max-width: 900px) {
   .rectangle-oblique, .rectangle-homme, .homme, .btn-first-page{
    display: none;
   }

   .mobile{
    display: block;
   }

   .price-offer{
        margin-top: -25%;
        margin-left: 20%;
   }    
}